<%= form_tag submit_actions_teachers_course_path(@course), remote: true, id: 'action-form' do %>
  <%= render 'student_grid' %>

  <div class="submit-button-container">
    <ul>
      <li><%= link_to 'Attendance', '#', class: 'btn btn-block btn-large other-button', id: 'attendance' %></li>
      <li><%= link_to 'Assignments', '#', class: 'btn btn-block btn-large other-button', id: 'assignments' %></li>
      <li><%= link_to 'Other Actions', '#', class: 'btn btn-block btn-large other-button', id: 'other' %></li>
      
      <div class="green-list">
        <li><%= submit_tag 'High Quality', class: 'positive-action btn btn-large btn-block btn-info' %></li>
        <li><%= submit_tag 'Participation', class: 'positive-action btn btn-large btn-block btn-info' %></li>
        <li><%= submit_tag 'Working Independently', class: 'positive-action btn btn-large btn-block btn-info' %></li>
      </div>

      <div class="red-list">
        <li><%= submit_tag 'Baby-Attack', class: 'negative-action btn btn-large btn-block btn-danger' %></li>
        <li><%= submit_tag 'Causing Distractions', class: 'negative-action btn btn-large btn-block btn-danger' %></li>
        <li><%= submit_tag 'Sloppy SLANT', class: 'negative-action btn btn-large btn-block btn-danger' %></li>
      </div>
    </ul>
  </div>
<% end %>
