<div class="live-view-container">
  <div id="course-id">
    <data id="<%= @course.id %>"></data>
  </div>

  <div class="classroom behavior-container">
    <%= render 'behavior' %>
  </div>
  
  <div class="classroom other-function-container center">
    <%= render 'other_actions' %>
  </div>
  
  <div class="classroom attendance-container">
    <%= render 'attendance' %>
  </div>

  <div class="classroom assignments-container">
    <%= render 'assignments' %>
  </div>
</div>
